@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.navbar {
	font-family: Gloria Hallelujah;
}

.all {
	font-family: shadows into light;
}

.navbar-brand 
{
	font-size: 40;
color: #F50C0C !important;
}

.navbar-right
{	font-size: 24;

}

a:visited {
    color: #F2F20F;}

a:link {
    color: #F2F20F;

}
a:hover {
	color: #13ED22;

}

